resource_group_name = "rg-myproject-dev"
location            = "France Central"
environment         = "dev"
tags = {
  Project = "MyProject"
  Owner   = "team@example.com"
}

backend_resource_group  = "rg-terraform-backend"
backend_storage_account = "tfbackendstorage"
backend_container       = "tfstate"
